<p-panel header="Pipes básicos" class="p-1">
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">{{ nameLower | uppercase }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="lowercase">{{ nameUpper | lowercase }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="titlecase">{{ fullName | titlecase }}</p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Dates" subheader="fecha">{{ customDate }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Dates" subheader="fecha | date">{{ customDate | date }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Dates" subheader="fecha | date: 'short'">{{ customDate | date:'short' }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Dates" subheader="fecha | date: 'long'">{{ customDate | date:'long' }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Dates" subheader="fecha | date: 'MMMM'">{{ customDate | date:'MMMM' }}</p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Dates" subheader="fecha | date: 'MMMM dd, yyyy'">{{ customDate | date:'MMMM dd, yyyy' }}</p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Dates" subheader="fecha | date:'long':'GMT-6'">{{ customDate | date:'long':'GMT-6' }}</p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="Dates" subheader="fecha | date:'long':'GMT-4'">{{ customDate | date:'long':'GMT-4' }}</p-card>
  </div>

  <div class="col-12 md:col-3">
    <p-card header="Dates" subheader="fecha | date:'long':'':'es'">{{ customDate | date:'long':'':'es' }}</p-card>
  </div>
  <div class="col-12 md:col-3">
    <p-card header="Dates" subheader="fecha | date:'long':'':'fr'">{{ customDate | date:'long':'':'fr' }}</p-card>
  </div>
  <div class="col-12 md:col-3">
    <p-card header="Dates" subheader="fecha | date:'long':'':'en'">{{ customDate | date:'long':'':'en' }}</p-card>
  </div>
  <div class="col-12 md:col-3">
    <p-card header="Dates" subheader="fecha | date:'long':'':'ca'">{{ customDate | date:'long':'':'ca' }}</p-card>
  </div>




  <!-- <div class="col-12 md:col-6">
    <p-card header="Formula">
      <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
      <hr>
      <ol>
        <li></li>
        <li></li>
      </ol>
      <hr>
      <ol>
        <li> </li>
        <li> </li>
        <li> </li>
        <li> </li>
      </ol>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Dates">
      <ol>
        <li></li>
        <li>{{  }}</li>
        <li>{{  }}</li>
        <li>{{  }}</li>
        <li>{{  }}</li>
        <li>{{  }}</li>
      </ol>
      <hr>
      <ol>
        <li>{{  }}</li>
        <li>{{  }}</li>
      </ol>
      <hr>
      <ol>
        <li>{{  }}</li>
        <li>{{  }}</li>
        <li>{{ customDate |  }}</li>
        <li>{{  }}</li>
      </ol>
    </p-card>
  </div> -->
</div>
